/iRouming.xcodeproj/project.xcworkspace/xcuserdata/Lope.xcuserdatad/UserInterfaceState.xcuserstate
/iRouming.xcodeproj/xcuserdata/Lope.xcuserdatad/xcschemes/iRouming.xcscheme

/iRouming.xcodeproj/xcuserdata/Lope.xcuserdatad/xcschemes/xcschememanagement.plist

.DS_Store

/iRouming/.DS_Store
